<ion-header>
    <dc-header [showSearchBar]="false" [showBackButton]="true" [showOrder]="false" [title]="'Registre-se'"> </dc-header>
</ion-header>


<ion-content>
    <div class="dc-content">
        <div class="logo-image">
            <img src="https://i.imgur.com/77goK1b.png" alt="">
        </div>

        <form (ngSubmit)="register()" [formGroup]="loginForm">
            <div class="dc-form">
                <div class="input-div">
                    <span class="icon">
                                <img src="assets/bistro/images/login/icon_phone.png" alt="" >
                            </span>
                    <ion-input type="tel" [(ngModel)]="phone" formControlName="phone" placeholder="Número de telefone" (ionChange)="checkForm()"></ion-input>
                </div>
                <span *ngIf="!loginForm.controls.phone.valid && isSubmitted" class="validate-message">{{phoneErrorMessage}}</span>
                <div class="input-div">
                    <span class="icon">
                                <img src="assets/bistro/images/login/icon_password.png" alt="" >
                            </span>
                    <ion-input type="password" [(ngModel)]="password" formControlName="password" placeholder="Senha" (ionChange)="checkForm()"></ion-input>
                </div>
                <span *ngIf="!loginForm.controls.password.valid && isSubmitted" class="validate-message">{{passwordErrorMessage}}</span>
                <div class="input-div">
                    <span class="icon">
                                <img src="assets/bistro/images/login/icon_repassword.png" alt="" >
                            </span>
                    <ion-input type="password" [(ngModel)]="retypePass" formControlName="retypePass" placeholder="Confirmar Senha" (ionChange)="checkForm()"></ion-input>
                </div>
                <span *ngIf="!loginForm.controls.retypePass.valid && isSubmitted" class="validate-message">{{retypePassErrorMessage}}</span>
            </div>
            <div class="login-button">
                <button ion-button class="dc-button" type="submit">
                            Registre-se
                        </button>
            </div>
        </form>
        <div class="register-button">
            <span (tap)="gotoLogin()">Já tem uma conta?</span>
        </div>
    </div>
</ion-content>