page-store-admin {


.dc-card{
     $inputHeight: 2.0em;
   
        text-align: center;
     
     
       padding-left: 7em;
     
    
        margin-top: 1em;
       
       
        background-color: map-get($DCColors, #f9f9f9);
       
          .img{
              width: 50%;
              background-color: white;
      
          }

}



    ion-slides {
        $inputHeight: 3.5em;
        text-align: center;
        width: 100%;
        border: solid 1px map-get($DCColors, lightgray);
        border-radius: 20px;
        line-height: $inputHeight;
    
        text-align: center;
        color: map-get($DCColors, black);
        margin: 0;
       
        padding-left:2em;
        background-color: map-get($DCColors, white);
       ion-slide{
          .img{
              width: 23%;
              margin: 2em;
          }
    
           
       }
    }
    ion-img {
        object-fit: resize;
        width: auto !important;
        border: 0;
        padding: 0;
        background-color: grey;
    }

    .col {
        padding: 0;
    }
    .row {
        width: 100%;
    }
    .fixed-top {
        background-color: #FFF;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        z-index: 10;
    }
    .button-group {
        width: 100%;
        text-align: center;
        .dc-button {
            padding: 6px 26px !important;
            margin: 5px;
            font-size: 1em !important;
            height: auto !important;
        }
        .dc-button-outline {
            padding: 5px 26px !important;
            margin: 5px;
            font-size: 1em !important;
            height: auto !important;
        }
    }
    .banner {
        padding: map-get($DCSizes, defaultPadding);
        position: relative;
        $desPosition: 36px;
        .des {
            position: absolute;
            left: $desPosition;
            right: $desPosition;
            bottom: $desPosition;
            color: map-get($DCColors, white);
            font-size: .9em;
        }
    }
}