<ion-header>
    <dc-header title="Próximo de Você" [showBackButton]="true" [showSearchBar]="false" [showOrder]="false"></dc-header>
</ion-header>
<ion-content>
    <span class="dc-fab" (click)="addStore()" ion-fixed>
        <i class="fa fa-plus" aria-hidden="true"></i>
    </span> 
    <div class="dc-content" *ngIf="stores.length > 0">
        <div class="seat-item" >
            <ion-row>
                    <ion-col col-12 class="col-text">
                            <div class="time-div">
                            <span>Rua Maxa 435</span> 
                       
                            <span class="changePlace" (tap)="backToFindPlace()" >
                                 Trocar
                                </span>
                                </div>

                    </ion-col>

            </ion-row>
        </div>

        <div class="seat-item" *ngFor="let store of stores">
            <ion-row>
                <ion-col col-3 class="col-img">
                    <div class="item-image" >
                        <img src="assets/bistro/images/store/graydefault.png" alt="img">
                    </div>
                </ion-col>
                <ion-col col-9 class="col-text">
                    <span class="title">{{store.name}}</span>
                    <div class="time-div">
                        <span class="time">
                            <span class="icon">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        <span>8:00</span> as <span>20:00 </span><span class="icon"> <i class="light fa fa-bolt" aria-hidden="true"></i></span>
                        </span>
                      
                                       
                        
                        
                    </div>
                    <div class="note-div">
                        <span class="icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        <span>15 km</span>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>